.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.pagination span {
  border: 2px solid rgb(58, 204, 167);
  color: rgb(58, 204, 167);
  margin: 5px;
  padding: 5px 15px;
  font-weight: 500;
  cursor: pointer;
}

.pagination span:hover,
.pagination span.selectedPage {
  background: rgb(58, 204, 167);
  color: snow;
}

.users_container {
  max-width: 60%;
  margin: 0 auto;
}

.user_wrap {
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_wrap a {
  display: block;
  height: 100%;
  width: 100%;
}

.ava_title {
  display: flex;
}

.ava_title p {
  color: rgb(58, 204, 167);
  font-size: 18px;
  margin-left: 20px;
}

.user_avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.user_avatar img {
  width: 100%;
  object-fit: cover;
}

.btn {
  background: rgb(58, 204, 167);
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  color: snow;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(57, 182, 151);
}

.btn:disabled {
  opacity: 0.3;
}
