.header_wrap {
  background-image: url("./../../assets/images/wood.jpg");
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 5px 5px;
  position: relative;
  margin-bottom: 10%;
}

.header {
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35%;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.loginBlock {
  color: rgb(58, 204, 167);
  margin-right: 20px;
}

.ava_wrap {
  position: absolute;
  left: 50px;
  top: -140px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ava {
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ava img {
  width: 100%;
  object-fit: cover;
}

.ava_wrap h3 {
  color: rgb(58, 204, 167);
  font-size: 26px;
  font-weight: 600;
  margin: 5px 0 0 0;
  font-family: "Quattrocento Sans";
}

.ava_wrap p {
  color: #939598;
  font-size: 15px;
  margin: 5px 0 0 0;
  max-width: 250px;
  text-align: center;
}

.login {
  color: snow;
  text-decoration: none;
}

.status_class {
  max-width: 250px;
  text-align: center;
  display: block;
}

.add_status {
  width: 150px;
  height: 20px;
  display: block;
}

.logoutBtn {
  background: rgb(58, 204, 167);
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  color: snow;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 20px;
}
