.post_wrap {
  background: #efefef;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.imgWrapper {
  display: flex;
}

.imgWrapper img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 10px;
}

.titles {
  margin: 0 0 5px 10px;
}

.titles h4 {
  color: rgb(58, 204, 167);
  margin: 0;
}

.titles span {
  font-size: 12px;
  color: #939598;
}

.post_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.likes {
  color: crimson;
  cursor: pointer;
}

.likes i {
  font-size: 20px;
  margin-right: 5px;
}

.messageContent {
  padding: 0 5%;
}
